# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual env
venv/
.venv/

# Environment variables
.env

# ML models
*.h5
*.keras
*.pkl
*.pt

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
